.task {
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid black;
    text-align: center;
    background-color: white;
  }
  .task:hover {
    cursor: grab;
  }
  .task:active {
    cursor: grabbing;
  }

